<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.rabbitmq.mappers.ProductRobbingRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mq.rabbitmq.domains.ProductRobbingRecord">
        <id column="id" property="id" />
        <result column="mobile" property="mobile" />
        <result column="product_id" property="productId" />
        <result column="robbing_time" property="robbingTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mobile, product_id, robbing_time, update_time
    </sql>

</mapper>
