<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.rabbitmq.mappers.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mq.rabbitmq.domains.Product">
        <id column="id" property="id"/>
        <result column="product_no" property="productNo"/>
        <result column="total" property="total"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_no, total, create_time, update_time
    </sql>

    <update id="updateTotal">
      UPDATE product a
      SET a.total = a.total - 1
      WHERE a.product_no = #{productNo}
      AND a.total > 0
  </update>

</mapper>
